.item{
    width: 17vw;
    height:56vh;
    border-radius: 7px;
    margin-bottom: 4rem;
border: 2px solid rgba(171, 167, 167, 0.505);
margin-left: 2rem;
cursor: pointer;
background-color: rgba(1, 2, 5, 0.605);
}

.item img{
    width: 100%;
    object-fit: cover;
    object-position: center;
margin-bottom: .3rem;
}
.item img:hover{
    scale: 1.01;
    
}
.price_compare{
    display: flex;
    gap: 2rem;
    justify-content: center;
    margin-top: .8rem;
    
}
.item p{
    font-size: 0.9rem;
    font-family: 'Poppins';
    text-align: center;
    max-width: 16vw;
}
.item_new_price p{
    font-weight: 700;
    font-style: bold;
    text-align: center;
    color: rgb(32, 142, 32);
}
.item_old_price p{
color: rgb(121, 48, 48);
text-align: center;
}
/* Your existing CSS code... */

/* Media Queries for Mobile */

@media (max-width: 768px) {
    .item {
      width: 90%;
      height: auto;
      margin: 0 auto 2rem;
    }
  
    .item p {
      font-size: 0.8rem;
      max-width: 100%;
    }
  
    .price_compare {
      flex-direction: column;
      align-items: center;
      margin-top: 0.5rem;
      gap: 0.5rem;
    }
  }
  .dark p{
color: white;

  }
  
  